<div id="group-modal" class="hidden bg-white p-12 rounded">
    <h1 class="text-center text-xl font-bold mb-4">
        Новая группа
    </h1>
    <form class="flex flex-col w-full justify-center items-center space-y-4" method="post">
        <div class="flex flex-col w-full">
            <label for="group-name" class="leading-7 text-base text-gray-600">Введите название группы</label>
            <input id="group-name" type="text" name="name"
                   class="bg-gray-100 h-11 bg-opacity-50 rounded border border-gray-300
                            focus:border-indigo-500 focus:bg-transparent focus:ring-2
                            focus:ring-indigo-200 text-xl outline-none text-gray-700
                            py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="flex flex-col w-full">
            <label for="group-year" class="leading-7 text-base text-gray-600">Введите год поступления</label>
            <input id="group-year" type="text" name="name"
                   class="bg-gray-100 h-11 bg-opacity-50 rounded border border-gray-300
                            focus:border-indigo-500 focus:bg-transparent focus:ring-2
                            focus:ring-indigo-200 text-xl outline-none text-gray-700
                            py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="flex flex-col w-full">
            <label for="group-type" class="leading-7 text-base text-gray-600">Выберити степень обучения</label>
            <select id="group-type" class="px-4 py-2 text-xl text-gray-700 bg-gray-100 bg-opacity-50 border block border-gray-300
                                focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200
                                focus:outline-none rounded">
                <option disabled selected>Квалификация</option>
                <option>Бакалавриат</option>
                <option>Магистратура</option>
            </select>
        </div>

        <div class="flex flex-col justify-end">
            <button class="text-white bg-indigo-500 border-0 py-2 px-8 mt-4 focus:outline-none
                            hover:bg-indigo-600 rounded text-xl" type="submit">
                Добавить
            </button>
        </div>
    </form>
</div>