<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:insert="~{layout/navbar-layout}"></div>
<form th:action="@{/students}" method="post">
    <label for="email">Введите почту для приглашения:</label>
    <input id="email" type="email" name="email">
    <br>

    <label for="group">Выберите группу: </label>
    <select id="group" name="groupId">
        <option th:each="group : ${groups}" th:value="${group.id()}" th:text="${group.name()}" />
    </select>
    <br>

    <button type="submit">Выслать приглашение</button>
</form>
</body>
</html>