<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Ошибка</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<section class="text-gray-600 body-font">
    <h2>Ошибка</h2>
    <code th:text="${error}"></code>
</section>
</body>
</html>