<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Группы</title>

    <script type="text/javascript" src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.bpopup.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div th:insert="~{./layout/navbar-layout}"></div>

<section class="container mx-auto w-3/4">
    <div class="flex flex-col items-center py-12">
        <h1 class="text-3xl font-medium title-font mb-12 text-gray-900">
            Список групп
        </h1>

        <div class="flex w-full">
            <form class="flex w-3/4 space-x-4">
                <label>
                    <select class="px-4 py-2 text-xl text-gray-700 bg-gray-100 bg-opacity-50 border block border-gray-300
                                    focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200
                                    focus:outline-none rounded">
                        <option disabled selected>Год поступления</option>
                        <option>2014</option>
                        <option>2015</option>
                    </select>
                </label>
                <label>
                    <select class="px-4 py-2 text-xl text-gray-700 bg-gray-100 bg-opacity-50 border block border-gray-300
                                    focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200
                                    focus:outline-none rounded">
                        <option disabled selected>Квалификация</option>
                        <option>Бакалавриат</option>
                        <option>Магистратура</option>
                    </select>
                </label>
                <button type="submit"
                        class="text-white bg-indigo-500 border-0 py-2 px-8 ml-4 focus:outline-none
                                hover:bg-indigo-600 rounded text-xl">
                    Применить
                </button>
            </form>
            <div class="flex justify-end w-1/4">
                <button type="button" onclick="General.showStandardModal('group-modal')"
                        class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none
                                hover:bg-indigo-600 rounded text-xl">
                    Добавить группу
                </button>
            </div>
        </div>

        <div class="w-full mt-20">
            <ul>
                <li th:each="group : ${groupList}" class="flex py-3">
                    <div class="flex w-3/4">
                        <span class="w-1/12 mr-6 border-r border-r-2 border-indigo-500"
                              th:text="${#temporals.format(group.learningStartDate, 'YYYY')}">
                            2014
                        </span>

                        <div class="w-4/12 mr-6 border-r border-r-2 border-indigo-500">
                            <a th:href="@{/groups/{id} (id = ${group.id})}"
                               th:text="${group.name}"
                               class="hover:text-indigo-700"></a>
                        </div>

                        <span class="w-3/12 mr-6 border-r border-r-2 border-indigo-500"
                              th:text="${group.academicDegree.description}">
                            Бакалавриат
                        </span>

                        <span class="w-4/12 mr-6 text-emerald-400 font-semibold"
                              th:text="${group.status.description}">
                            активная группа
                        </span>
                    </div>

                    <div class="w-1/4 flex justify-end items-center space-x-4">
                        <button type="button"
                                th:attr="onclick=|GroupList.showGroupModalWithParams('${group.name}', '${group.learningStartDate}', '${group.academicDegree}')|">
                            <svg class="h-5 w-5" fill="none" stroke="currentColor" stroke-width="2"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </button>

                        <button type="button" class="hover:text-red-500"
                                sec:authorize="hasAuthority('ADMIN')"
                                th:attr="onclick=|General.showDeleteConfirmModalWithParams('@{/groups/delete/{id} (id = ${group.id})}', '${group.name}', 'null', 'null')|">
                            <svg class="h-6 w-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<div th:insert="~{modal/group-modal.html}"></div>
<div th:insert="~{modal/document-confirm-delete-modal.html}"></div>
</body>
</html>