<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div th:insert="~{layout/navbar-layout}"></div>-->
<p th:text="${user.lastName() + ' ' + user.firstName() + ' ' + user.middleName() + ' ' + user.group()}"></p>
<!--<table>-->
<!--    <tr th:each="subject : ${user.subjects()}">-->
<!--        <td th:text="${subject.getId()}"></td>-->
<!--        <td th:text="${subject.getName()}"></td>-->
<!--    </tr>-->
<!--</table>-->
</body>
</html>