<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Приглашение</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:insert="~{layout/navbar-layout}"></div>

<section class="text-gray-600 body-font">
    <form th:action="@{/registration}" method="post" th:object="${inviteDto}">
        <div class="flex flex-col items-center container mx-auto px-5 py-24">
            <div class="text-center w-full mb-12">
                <h1 class="text-3xl font-medium title-font mb-4 text-gray-900">
                    Пригласить пользователя
                </h1>
            </div>

            <div class="flex flex-col w-full max-w-sm space-y-6 items-center">

                <div class="flex flex-col w-full">

                    <label for="email" class="leading-7 text-base text-gray-600">Email</label>
                    <input th:field="*{email}" type="email" id="email" required
                           class="bg-gray-100 bg-opacity-50 rounded border border-gray-300
                                    focus:border-indigo-500 focus:bg-transparent focus:ring-2
                                    focus:ring-indigo-200 text-xl outline-none text-gray-700
                                    py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <div class="flex flex-col w-full" sec:authorize="hasAuthority('ADMIN')">
                    <label for="role" class="leading-7 text-base text-gray-600">Роль</label>
                    <select required onchange="displayGroup()" th:field="*{role}" id="role" class="px-4 py-2 text-xl text-gray-700 bg-gray-100 bg-opacity-50
                                    border block border-gray-300 focus:border-indigo-500
                                    focus:bg-transparent focus:ring-2 focus:ring-indigo-200
                                    focus:outline-none rounded">
                        <option th:each="rl: ${allRole}"
                                th:value="${rl.name}"
                                th:text="${rl.description}"/>
                    </select>
                </div>
                <div class="flex flex-col w-full" id="block-group">
                    <label for="group" class="leading-7 text-base text-gray-600">Группа</label>
                    <select th:field="*{group}" id="group" class="px-4 py-2 text-xl text-gray-700 bg-gray-100 bg-opacity-50
                                    border block border-gray-300 focus:border-indigo-500
                                    focus:bg-transparent focus:ring-2 focus:ring-indigo-200
                                    focus:outline-none rounded" required>
                        <option value="" selected>Выберите группу</option>
                        <option th:each="gr: ${allGroup}"
                                th:value="${gr.id}"
                                th:text="${gr.name}"/>

                    </select>
                </div>
                <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none
                                hover:bg-indigo-600 rounded text-xl" type="submit">
                    Отправить
                </button>

            </div>
        </div>
    </form>
</section>

<script type="text/javascript">
    window.addEventListener("load", function () {
        document.getElementById('group').options[0].disabled = 'true'
    });

    function displayGroup() {
        const selectRole = document.getElementById('role').value
        const selectGroup = document.getElementById('group')
        const div = document.getElementById('block-group')

        if (selectRole === 'TEACHER') {
            div.style.display = 'none'
            selectGroup.selectedIndex = 0
            selectGroup.options[0].disabled = true
            selectGroup.required = false
        } else {
            div.style.display = 'flex'
            selectGroup.required = true
        }
    }
</script>
</body>
</html>