<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Регистрация</title>
</head>
<body>
<div th:insert="~{layout/navbar-layout}"></div>
<form th:action="@{/registration/student}" method="post" th:object="${student}">
    <h2 class="h2">Регистрация</h2>

    <span th:text="*{email}"></span>
    <br>

    <span th:text="*{group.name}"></span>
    <hr>

    <label for="first-name">Имя: </label>
    <input id="first-name" type="text" th:field="*{firstName}" />
    <br>

    <label for="last-name">Фамилия: </label>
    <input id="last-name" type="text" th:field="*{lastName}" />
    <br>

    <label for="middle-name">Отчество: </label>
    <input id="middle-name" type="text" th:field="*{middleName}" />
    <br>

    <label for="password">Пароль: </label>
    <input id="password" th:field="*{password}" type="password" />
    <br>

    <label for="repeat-password">Повторите пароль: </label>
    <input id="repeat-password" th:field="*{repeatPassword}" type="password" />
    <br>

    <input id="token" type="hidden" name="token" th:value="${token}" />
    <input id="email" type="hidden" th:field="*{email}" />
    <input id="group" type="hidden" th:field="*{group}" />

    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>